.container{
    display: block;
    width: 95%;
    height: 100%;
    margin: auto;
}

header {
    background-color: teal;
    margin: 0.1px;
    padding: 45px;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-align: center;

}

nav {
    
    background-color: gray;
    list-style-type: none;
    text-align: right;
    margin: 45px;    
    padding: 0px;
    font-size: 25px;
}

nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }

section article{
    text-align: center;
  }

.first {
    width: 50%;
    float: left;
    height: 300px;
    background-color: aqua;
}

.second {
    width: 50%;
    float: left;
    height: 300px;
    background-color: green;
}

#clear {
    clear: both;
}

footer{

    background-color: black;
    color: white;    
}